<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{dd.MM.yy HH:mm:ss.SSS} %-5p [%c{0}] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.crystals" level="ALL" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="ru.dreamkas" level="ALL" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.context.annotation" level="ALL" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
